@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700;800;900;1000&display=swap');

.attachContent {
    background-color: #010F1C;
    color: white;
    margin: 40px 40px 0;
    min-height: 70vh;
    padding: 40px 20px 30px;
    text-align: center;
    border-radius: 8px;
}

.attachContent h2 {
    font-size: 2rem;
    font-weight: 500;
  }

.divApproval {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #041D33;
    padding: 0px 60px;
    border-radius: 10px;
    margin-top: 20px;
}

.divApproval img {
    /* width: 40px; */
    margin-top: 10px;
}

.approval {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.approval h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.divApproval button {
    background-color: #041D33;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Alegreya SC', serif;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 30px;
    margin: 10px 10px;
}

.divApproval p {
    color: white;
    margin: 10px;
    font-weight: 400;
    font-size: 1.3rem;
}

.divMedico {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.divMedico label, .divCheckbox label {
    color: white;
    margin: 10px 0;
    font-weight: 400;
    font-size: 1.3rem;
}

.divMedico input {
    padding: 10px 12px;
    font-weight: 400;
    border-radius: 6px;
    font-size: 1rem;
    width: 400px;
}

.divCheckbox {
    margin-top: 30px;
}

.divCheckbox label{
    margin-left: 10px;
}

